<div *ngIf="!loading and relatedRecipes" style="margin: 10px;">
    <mat-card *ngFor="let recipe of relatedRecipes" class="example-card">
        <mat-card-header>
          <mat-card-title>
            <a [routerLink]="['../../../recipes/detail', recipe.id]" routerLinkActive="active">{{recipe.name}}
              {{recipe.name}}</a>
            </mat-card-title>
          <mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
        </mat-card-header>
        <div style="text-align: right; margin-right: 5px;">
          <img mat-card-lg-image src="{{'data:image/jpg;base64,' + recipe.image}}" />
        </div>
        
        <mat-card-content>
          <p>
            <!--{{recipe.description}}-->
          </p>
        </mat-card-content>
    </mat-card>
</div>