<div *ngIf="!loading" class="card flex justify-content-center">
    <p-panel header="Ingredients">
        <div *ngFor="let ingredient of ingredients">
            <li>
                <span>{{ingredient.measure}}</span>&nbsp;
                <span>{{ingredient.name}}</span>
            </li>
        </div>
    </p-panel>
    <br>
    <p-panel header="Instuctions">
        <div *ngFor="let instruction of instructions">
            <li>
                <span>{{instruction.pos}}</span>&nbsp;
                <span>{{instruction.description}}</span>
            </li>
        </div>
    </p-panel>
</div>