
body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

@import "~bootstrap/dist/css/bootstrap.min.css",
"~primeng/resources/primeng.min.css",
"~primeicons/primeicons.css",
"~primeng/resources/themes/lara-light-blue/theme.css"
