<p-table [value]="recipes"
[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
[tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>page</th>
            <th>category</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recipe>
        <tr>
            <td>{{recipe.id}}</td>
            <td>
                <a [routerLink]="['detail', recipe.id]" routerLinkActive="active">{{recipe.name}}</a>
            </td>
            <td>
               <a href="{{recipe.url}}">{{recipe.name}}</a>
            </td>
            <td>{{recipe.category}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
