<h2>My Recipes</h2>


<p-table [columns]="cols" [value]="recipes" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of cols">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="cols">
      <tr>
          <td *ngFor="let col of cols">
            <a routerLink="/recipe/{{rowData.id}}">
              {{rowData[col.field]}}
            </a>
          </td>
      </tr>
  </ng-template>
</p-table>
<!-- <ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <a routerLink="/recipe/{{recipe.id}}">
      <span class="badge">{{recipe.id}}</span> {{recipe.name}}
    </a>
  </li>
</ul> -->